@font-face {
  font-family: 'driodobesh';
  src: url('../../assets/droidobesh-depot-font/DroidobeshDepot-gxmVE.otf') format('opentype');
}

@font-face {
  font-family: 'distant-galaxy';
  src: url('../../assets/sf-distant-galaxy-font/SfDistantGalaxy-0l3d.ttf') format('truetype');
}

@font-face {
  font-family: 'star-jedi-outline';
  src: url('../../assets/star-jedi-outline-font/StarJediOutline-y0xm.ttf') format('truetype');
}

.title-header {
    font-family: 'distant-galaxy', sans-serif;
}

.jediFont {
      font-family: 'distant-galaxy', sans-serif;
}

.stats {
      font-family: 'distant-galaxy', sans-serif;
}

.name {
      font-family: 'distant-galaxy', sans-serif;
}