@use 'fonts' as f;
//Mixins

@mixin rotated($radius) {
      -webkit-transform: rotate($radius);
      -ms-transform: rotate($radius);
       transform: rotate($radius);
 }
 

//flex box mixins

@mixin flex-column {
      display: flex;
      flex-direction: column;
}
    
@mixin flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
}
    
@mixin flex-center-column {
      @include flex-center;
      flex-direction: column;
}
    
@mixin flex-center-vert {
      display: flex;
      align-items: center;
}
    
@mixin flex-center-horiz {
      display: flex;
      justify-content: center;
}

.spinner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px;
      color: #ffde21;
      font-family: "distant-galaxy";
      min-height: 100px;

            .spinner-border {
            width: 100px;
            height: 100px;
            animation: spin 3s linear infinite;
            }
      }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

$primary-color: #ffde21;
//$secondary-color: ;

.hidden {
      display: none;
}

