@use '../abstracts/mixins' as a;

// body {
//     font-family: 'Open Sans', Arial, sans-serif;
// }

p {
    margin-bottom: 20px;
    color: a.$primary-color;
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color: a.$primary-color;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    color: a.$primary-color;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: a.$primary-color;
}

li {
    color: a.$primary-color;
    font-family: 'distant-galaxy', sans-serif;
}