// body {
//     font-family: 'Open Sans', Arial, sans-serif;
// }

p {
    margin-bottom: 20px;
    color: white;
}

h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    color: white;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: white;
}