@use '../abstracts/mixins' as a;

body {
    //background: black;
    background-image: url("../../images/pexels-alexandrep-junior-7736104.jpg");  
    background-size: cover;
    overflow: hidden;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
    padding:0;
}

li {
    margin: 20px;
}

#list-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
        #list-title {
            display: block;
            text-align: center;
        }
        #characters {
            display: block;
            text-align: center;
            overflow-y: scroll;
            max-height: 100vh;
            ul {
                li:hover {
                    color: white;
                    background-color: rgba(0, 0, 0, 0);
                    animation: glowJedi 1s infinite alternate;
                }
            }
        }
}

#profile-lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.911);
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

#profile-lightbox.active {
    display: flex;
}

.profile-close {
    background: none;
    cursor: pointer;
    color: a.$primary-color;
    border-bottom: 2px solid a.$primary-color;
    border-top: 2px solid a.$primary-color;
    padding-top: 2px;
    margin-bottom: 20px;

}

.profile-close:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    animation: glowSith 1s infinite alternate;
    border-bottom: 2px solid a.$primary-color;
    border-top: 2px solid a.$primary-color;
    padding-top: 2px;
}

.name {
    margin: 20px 0 20px 0;
}

#profile {
    position: relative;
    width: 80vw;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
}

.film-poster {
    color: a.$primary-color;
    max-width: 50vw;
    margin: 20px auto 20px auto;
}

.film-link {
    text-decoration: none;
    color: a.$primary-color;
    border-bottom: 2px solid a.$primary-color;
    border-top: 2px solid a.$primary-color;
    padding-top: 2px;
    background: none;
    cursor: pointer;
}

.film-link:hover {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding-top: 2px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    animation: glowPadawan 1.5s infinite alternate;
}

@keyframes glowSith {
    0%, 100% {
    box-shadow: inset 10px 10px red,
                inset -10px -10px red,
                5px 5px 15px 5px red, 
                -5px -5px 15px 5px red, 
                -5px 5px 15px 5px red, 
                5px -5px 15px 5px red;
    }
    50% {
    box-shadow: inset 10px 10px red,
                inset -10px -10px red,
                10px 10px 20px 5px red, 
                -10px -10px 20px 5px red, 
                -10px 10px 20px 5px red, 
                10px -10px 20px 5px red;
    }
}

@keyframes glowJedi {
    0%, 100% {
    box-shadow: inset 10px 10px blue,
                inset -10px -10px blue,
                5px 5px 15px 5px blue, 
                -5px -5px 15px 5px blue, 
                -5px 5px 15px 5px blue, 
                5px -5px 15px 5px blue;
    }
    50% {
    box-shadow: inset 10px 10px blue,
                inset -10px -10px blue,
                10px 10px 20px 5px blue, 
                -10px -10px 20px 5px blue, 
                -10px 10px 20px 5px blue, 
                10px -10px 20px 5px blue;
    }
}

@keyframes glowPadawan {
    0%, 100% {
    box-shadow: inset 10px 10px green,
                inset -10px -10px green,
                5px 5px 15px 5px green, 
                -5px -5px 15px 5px green, 
                -5px 5px 15px 5px green, 
                5px -5px 15px 5px green;
    }
    50% {
    box-shadow: inset 10px 10px green,
                inset -10px -10px green,
                10px 10px 20px 5px green, 
                -10px -10px 20px 5px green, 
                -10px 10px 20px 5px green, 
                10px -10px 20px 5px green;
    }
}

@media (min-width: 768px) {

#list-parent {

        #list-title {
            text-align: left;
            position: fixed;
            top: 0;
    background-color: rgba(0, 0, 0, 0.911);
        }
        #characters {
            position: relative;
            text-align: left;
            margin-top: 70px;
            ul {
                li:hover {
                    color: white;
                }
            }
        }
}    

#profile-lightbox {
    display: none;  
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    top: 0;
    left: 40vw;
    width: inherit;
    height: 100%;
    z-index: 1000;
    justify-content: left;
}

#profile-lightbox.active {
    display: flex;
}

.profile-close {
display: none;
}

#profile {
    position: relative;
    text-align: left;
    max-height: 80vh;
    overflow-y: auto;
    width: 60vw;
    padding-left: 30px;
    .stats {
        margin-right: 40px;
    }
}

.film-poster {
    margin: 20px 0 20px 0;
    width: 30vw;
}

}