@use '../abstracts/mixins' as a;

body {
    background: black;
        overflow: hidden;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
    padding:0;
}

li {
    padding: 10px;
}

#list-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
        #list-title {
            display: block;
            text-align: center;
        }
        #characters {
            display: block;
            text-align: center;
            overflow-y: scroll;
            max-height: 100vh;
            ul {
                li:hover {
                    color: white;
                }
            }
        }
}

#profile-lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.911);
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: center;

    // #profile-header {
    // align-items: center;
    // justify-content: center;
    //}
}

#profile-lightbox.active {
    display: flex;
}

.profile-close {
    background: none;
    border: 1px a.$primary-color;
    cursor: pointer;
    line-height: 1;
    color: a.$primary-color;
    padding: 0;
    width: 100px;
    height: 40px;
}

.name {
    margin: 20px 0 20px 0;
}

#profile {
    position: relative;
    width: 90vw;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
}

@media (min-width: 768px) {

#list-parent {

        #list-title {
            text-align: left;
            position: fixed;
            top: 0;
    background-color: rgba(0, 0, 0, 0.911);
        }
        #characters {
            position: relative;
            text-align: left;
            margin-top: 70px;
            ul {
                li:hover {
                    color: white;
                }
            }
        }
}    

#profile-lightbox {
    display: none;  
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    top: 0;
    left: 40vw;
    width: inherit;
    height: 100%;
    z-index: 1000;
    justify-content: left;
}

#profile-lightbox.active {
    display: flex;
}

.profile-close {
display: none;
}

#profile {
    position: relative;
    text-align: left;
    max-height: 80vh;
    overflow-y: auto;
}

} 